<%- model_class = Delivery -%>
<div class="page-header">
  <h1><%=t '.title', :default => Delivery %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= model_class.human_attribute_name(:first_name) %></th>
      <th><%= model_class.human_attribute_name(:last_name) %></th>
      <th><%= model_class.human_attribute_name(:address_line1) %></th>
      <th><%= model_class.human_attribute_name(:address_line2) %></th>
      <th><%= model_class.human_attribute_name(:zip_code) %></th>
      <th><%= model_class.human_attribute_name(:city) %></th>
      <th><%= model_class.human_attribute_name(:state) %></th>
      <th><%= model_class.human_attribute_name(:country) %></th>
      <th><%= model_class.human_attribute_name(:phone_number) %></th>
      <th><%= model_class.human_attribute_name(:amazon_email) %></th>
      <th><%= model_class.human_attribute_name(:amazon_password) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @deliveries.each do |delivery| %>
      <tr>
        <td><%= delivery.id %></td>
        <td><%= delivery.first_name %></td>
        <td><%= delivery.last_name %></td>
        <td><%= delivery.address_line1 %></td>
        <td><%= delivery.address_line2 %></td>
        <td><%= delivery.zip_code %></td>
        <td><%= delivery.city %></td>
        <td><%= delivery.state %></td>
        <td><%= delivery.country %></td>
        <td><%= delivery.phone_number %></td>
        <td><%= delivery.amazon_email %></td>
        <td><%= delivery.amazon_password %></td>
        <td><%=l delivery.created_at, format: :long %></td>
        <td>
          <%= link_to delivery_path(delivery), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
            <%= glyph 'info-sign' %>
            <%= glyph 'pencil' %>
          <%- end -%>
          <%= link_to delivery_path(delivery), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
            <%= glyph 'remove' %>
          <%- end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_delivery_path,
            :class => 'btn btn-primary' %>
