<%= form_for @account, :html => { :class => 'form-horizontal form-model' } do |f| %>
  <div class="form-group">
    <%= f.label :name_on_card, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :name_on_card, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :card_number, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :card_number, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :security_code, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :security_code, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :expiration_month, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :expiration_month, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :expiration_year, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :expiration_year, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :billing_first_name, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :billing_first_name, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :billing_last_name, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :billing_last_name, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :address_line1, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :address_line1, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :address_line2, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :address_line2, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :zip_code, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :zip_code, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :city, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :city, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :state, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :state, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :country, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :country, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :phone_number, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :phone_number, :class => 'text-field form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  accounts_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
