<%- model_class = Account -%>
<div class="page-header">
  <h1><%=t '.title', :default => Account %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= model_class.human_attribute_name(:name_on_card) %></th>
      <th><%= model_class.human_attribute_name(:card_number) %></th>
      <th><%= model_class.human_attribute_name(:security_code) %></th>
      <th><%= model_class.human_attribute_name(:expiration_month) %></th>
      <th><%= model_class.human_attribute_name(:expiration_year) %></th>
      <th><%= model_class.human_attribute_name(:billing_first_name) %></th>
      <th><%= model_class.human_attribute_name(:billing_last_name) %></th>
      <th><%= model_class.human_attribute_name(:address_line1) %></th>
      <th><%= model_class.human_attribute_name(:address_line2) %></th>
      <th><%= model_class.human_attribute_name(:zip_code) %></th>
      <th><%= model_class.human_attribute_name(:city) %></th>
      <th><%= model_class.human_attribute_name(:state) %></th>
      <th><%= model_class.human_attribute_name(:country) %></th>
      <th><%= model_class.human_attribute_name(:phone_number) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @accounts.each do |account| %>
      <tr>
        <td><%= account.id %></td>
        <td><%= account.name_on_card %></td>
        <td><%= account.card_number %></td>
        <td><%= account.security_code %></td>
        <td><%= account.expiration_month %></td>
        <td><%= account.expiration_year %></td>
        <td><%= account.billing_first_name %></td>
        <td><%= account.billing_last_name %></td>
        <td><%= account.address_line1 %></td>
        <td><%= account.address_line2 %></td>
        <td><%= account.zip_code %></td>
        <td><%= account.city %></td>
        <td><%= account.state %></td>
        <td><%= account.country %></td>
        <td><%= account.phone_number %></td>
        <td><%=l account.created_at, format: :long %></td>
        <td>
          <%= link_to account_path(account), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
            <%= glyph 'info-sign' %>
            <%= glyph 'pencil' %>
          <%- end -%>
          <%= link_to account_path(account), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
            <%= glyph 'remove' %>
          <%- end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_account_path,
            :class => 'btn btn-primary' %>
